// 试玩-全部
.use{
    width: 100%;
    margin-top: 50px;
    
    .use-top{
       width: 100%;
      
        h1{
            font-size: 20px;
            line-height: 30px;
            margin-left: 670px;
            // font-weight: bold;
        }
        .text{
            
            margin-left: 550px;
            margin-top: 46px;
            height: 40px;
            .title{
                
                float: left;
                font-size: 14px;
                width: 164px;
                height: 40px;
                
                // padding-bottom: 18px;
              
                a{
                    text-align: center;
                    color: #cccccc;
                    display: block;
                    height: 40px;
                    &:hover{
                        color: #f75541;
                        width: 164px;
                       
                        border-bottom: 2px solid red;
                    }
                }
            }
            .title-1{
                float: left;
                font-size: 14px;
                width: 164px;
                height: 40px;
                
                a{
                    text-align: center;
                    color: #cccccc;
                    display: block;
                    height: 40px;
                    &:hover{
                        color: #f75541;
                        width: 164px;
                       
                        border-bottom: 2px solid red;
                    }
                }
            }
        }
        ul{
            padding-left: 350px;
            width: 100%;
            padding-top: 15px;
            border-top: 1px solid #cccccc;
            li{
                float: left;
                font-size: 14px;
                margin-left: 120px;
                
                a{
                    
                    color: #cccccc;
                    &:hover{
                        color: #54434e;
                    }
                }
            }
        }
    }

    // 内容
    .use-bottom{
        background-color: #f7f7f7;
        .shop{
            padding-top:  26px;
            margin: 0 auto;
            width: 1000px;
        }

        .new{ 
            padding-top: 44px;
            text-align: center;
            a{
                color: #f75541;
                font-size: 14px;
            }
        }
    }
}