.use {
  width: 100%;
  padding-top: 50px;
  background-color: #ffffff;
}
.use .use-top {
  width: 100%;
}
.use .use-top h1 {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}
.use .use-top .text {
  text-align: center;
  margin-top: 46px;
  height: 40px;
}
.use .use-top .text a {
  font-size: 14px;
  width: 164px;
  text-align: center;
  color: #cccccc;
  display: inline-block;
  height: 40px;
}
.use .use-top .text a:hover {
  color: #f75541;
  border-bottom: 2px solid red;
}
.use .use-top ul {
  text-align: center;
  width: 100%;
  padding-top: 15px;
  border-top: 1px solid #cccccc;
}
.use .use-top ul li {
  display: inline-block;
  font-size: 14px;
  margin-left: 130px;
}
.use .use-top ul li a {
  color: #cccccc;
}
.use .use-top ul li a:hover {
  color: #54434e;
}
.use .use-bottom {
  background-color: #f7f7f7;
}
.use .use-bottom .shop {
  padding-top: 26px;
  margin: 0 auto;
  width: 1000px;
}
.use .use-bottom .shop ul li {
  float: left;
  margin-right: 37px;
  margin-bottom: 30px;
  box-sizing: border-box;
  width: 222px;
  background-color: #ffffff;
  border-radius: 10px;
}
.use .use-bottom .shop ul li:hover {
  transform: rotate(720deg);
  transition: transform 2s;
}
.use .use-bottom .shop ul li:nth-of-type(4n) {
  margin-right: 0;
}
.use .use-bottom .shop ul li .use-img {
  position: relative;
}
.use .use-bottom .shop ul li .use-img img {
  width: 222px;
  height: 131px;
  border-radius: 10px;
}
.use .use-bottom .shop ul li .use-img .fa {
  position: absolute;
  top: 0;
  right: 0;
  color: #DBC893;
  background-color: #F8F3CB;
  border-radius: 0 10px 0 10px;
  width: 80px;
  text-align: center;
  line-height: 25px;
}
.use .use-bottom .shop ul li .use-text {
  width: 203px;
  margin-left: 7px;
  margin-top: 12px;
}
.use .use-bottom .shop ul li .use-text .use-text-name {
  font-size: 16px;
  text-align: center;
  font-weight: bold;
}
.use .use-bottom .shop ul li .use-text .use-box-num {
  margin-top: 5px;
  width: 205px;
  color: #cccccc;
}
.use .use-bottom .shop ul li .use-text .use-box-num .use-box {
  text-align: center;
  border-radius: 5px;
  margin-right: 13px;
  display: inline-block;
  width: 47px;
  height: 23px;
  line-height: 23px;
  margin-left: 45px;
  font-size: 14px;
  border: 1px solid #cccccc;
}
.use .use-bottom .shop ul li .use-text .use-box-num .use-box1 {
  text-align: center;
  border-radius: 5px;
  margin-right: 13px;
  display: inline-block;
  width: 47px;
  height: 23px;
  line-height: 23px;
  font-size: 14px;
  border: 1px solid #cccccc;
}
.use .use-bottom .shop ul li .use-text .shen {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
}
.use .use-bottom .shop ul li .use-text .shen span {
  color: red;
}
.use .use-bottom .shop ul li .use-text .report {
  margin-top: 5px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 13px;
  color: #cccccc;
}
.use .use-bottom .new {
  padding-top: 44px;
  text-align: center;
  padding-bottom: 20px;
}
.use .use-bottom .new a {
  color: #f75541;
  font-size: 14px;
}
