nav {
  background: url(../css/img/original.jpg) no-repeat left center;
  height: 300px;
  margin-left: -200px;
}
nav .nav div {
  margin-right: -100px;
  width: 320px;
  height: 215px;
  float: right;
  color: #fff;
  text-align: right;
}
nav .nav div h1 {
  font-size: 26px;
  margin-top: 40px;
  margin-bottom: 20px;
}
nav .nav div span {
  padding: 3px 6px;
  background-color: #f5d095;
  margin-left: 6px;
}
nav .nav div p {
  margin: 20px auto;
  font-size: 13px;
}
nav .nav div button {
  color: #fff;
  background-color: #fe5341;
  padding: 8px 58px;
  font-size: 14px;
  border: none;
}
.nav-b {
  background-color: #f0f0f0;
}
.nav-b ul {
  padding: 10px;
}
.nav-b ul li {
  float: left;
  margin: 10px 110px 10px 0px;
}
.nav-b ul li .kai {
  border-bottom: 3px solid #f9857c;
}
.nav-b ul .shiyong {
  text-align: center;
  width: 50px;
  border-left: 5px solid #fc5545;
}
.nav-b ul .shiyong p {
  font-size: 18px;
  font-weight: 500;
}
article {
  background-color: #fff;
}
article .article-left {
  float: left;
  width: 700px;
}
article .article-left .a-lt p {
  font-size: 14px;
}
article .article-left .a-lt .p {
  padding-top: 40px;
  font-size: 18px;
  font-weight: 500;
}
article .article-left .a-lt .p span {
  margin-right: 10px;
  border-left: 5px solid #fc5545;
}
article .article-left .a-lt h3 {
  margin-top: 20px;
  padding-bottom: 30px;
  color: #ef2c3e;
}
article .article-left .a-lt img {
  margin: 30px 0;
}
article .article-left .a-lc .center h3 {
  color: #1f7ed8;
}
article .article-left .a-lc .center p {
  margin-bottom: 30px;
  margin-top: 30px;
  font-size: 14px;
}
article .article-left .a-lb p {
  font-size: 14px;
}
article .article-left .a-lb .p {
  padding-top: 40px;
  font-size: 18px;
  font-weight: 500;
}
article .article-left .a-lb .p span {
  margin-right: 10px;
  border-left: 5px solid #fc5545;
}
article .article-left .a-lb .shi {
  display: block;
  margin-bottom: 30px;
  margin-top: 30px;
  color: #5796b8;
  font-size: 14px;
  font-weight: bold;
}
article .article-left .a-lbottom {
  margin-bottom: 30px;
}
article .article-left .a-lbottom h3 {
  color: #f23f62;
}
article .article-left .a-lbottom ul li {
  font-size: 13px;
  color: #6f7b81;
}
article .article-right {
  float: left;
}
article .article-right .gomai {
  margin-left: 30px;
  width: 270px;
}
article .article-right .gomai .p {
  padding-top: 10px;
  font-size: 18px;
  font-weight: 500;
}
article .article-right .gomai .p span {
  margin-right: 10px;
  border-left: 5px solid #fc5545;
}
article .article-right .gomai h1 {
  font-weight: 400;
  font-size: 40px;
  color: #fb5b4e;
}
article .article-right .gomai button {
  width: 250px;
  height: 50px;
  background-color: #fe5444;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: 15px;
  color: #fff;
}
article .article-right .gomai .lai {
  text-align: center;
  width: 50px;
  color: #ada8ab;
  margin: 10px 100px;
}
article .article-right .flo {
  float: left;
  margin-left: 30px;
  width: 270px;
}
article .article-right .flo .flo-title span {
  font-size: 14px;
  padding-left: 22px;
  line-height: 25px;
  border-left: 4px solid #f85242;
}
article .article-right .flo .flo-img {
  margin-top: 23px;
}
article .article-right .flo .flo-img img {
  width: 100%;
  height: 100%;
}
article .article-right .flo .fu {
  margin-top: 20px;
  margin-bottom: 12px;
}
article .article-right .flo .fu .flo-text {
  font-size: 16px;
  font-weight: bold;
}
article .article-right .flo .fu span {
  color: #cccccc;
  font-size: 14px;
  line-height: 25px;
}
article .article-right .flo .fu ul li {
  width: 230px;
  font-size: 14px;
  color: #cccccc;
  line-height: 25px;
}
article .article-right .flo .flo-bot {
  margin-top: 64px;
}
article .article-right .flo .flo-bot .flo-bot-img {
  margin-bottom: 18px;
}
article .article-right .flo .flo-bot .flo-bot-img span {
  padding-left: 22px;
  font-size: 14px;
  line-height: 25px;
  border-left: 4px solid #f85242;
}
